@use './styles/variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    margin: auto;
    width: 70%;
}

.jumbo {
    background-color: variables.$jumbotron;
}

.icons {
    background-color: variables.$primary;
    padding: 20px;
}